.container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.card {
  text-decoration: none;
  color: rgb(144, 128, 128);
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.detail-container {
  padding: 40px;
}

.detail-container img {
  max-width: 400px;
  width: 100%;
  border-radius: 12px;
}

.bike-image {
  border-radius: 12px;
  object-fit: cover;
}
